body {
    font-family: 'Roboto';
}

.full {
    margin-left:1%;
    margin-right:1%
}

.title {
    font-size:  200%;
    font-weight: bold;
    color: blue;
}

div.instruction {
    font-weight: bold;
    font-size: 110%;
}

div.search {
    width: 40%;
    float: right;
}

div.post_creation {
    width: 40%;
}

div.comments {
    margin-bottom: 25px;
    margin-top: 25px;
}

div.comment {
    margin-bottom: 15px;
}

div.posts {
    margin-bottom: 25px;
    margin-top: 25px;
}

div.post {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1%;
    border: solid;
    border-color: blue;
}

div.comment_form {
    width: 100%;
}

span.comment_form {
    width: 40%;
}

input {
    font-size: 80%;
    color: blue;
}
textarea {
    font-size: 80%;
    height: 20%;
    color: blue;
}

.
