{% extends 'portal/meta.html' %}

{% block frame %}
    <div class="container-fluid full" >
        <div class="row title">
            DEBATER
        </div>
        <div class="row">
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <a href="/session/posts/user={{user.id}}" class="alert-link">mainboard</a>
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <a href={% url 'hot_posts' %} class="alert-link">hot topic</a>
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary" role="alert">
                    <a href="/" class="alert-link">account</a>
                </div>
            </div>
            <div class="col-2">
                <div class="alert alert-danger" role="alert">
                    <a href={% url 'logout' %} class="alert-danger">logout</a>
                </div>
            </div>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
