{% extends 'portal/meta.html' %}

{% block frame %}
<div class="container-fluid full">
    <div class="row title " >
        DEBATER 
    </div>
    <div class="row">
        <div class="col-sm">
            Login:
            <form action="login/" method="post">
                {% csrf_token %}
                {{login_form.as_ul}}
                <button type="submit" class="btn btn-primary">Go in</button">
            </form>
        </div>
        <div class="col-sm">
            Create User:

            <form action="users/" method="post">
                {% csrf_token %}
                {{user_creation_form.as_p}}
                <button type="submit" class="btn btn-primary">Hello</button">
            </form>
        </div>
    </div>
</div>
{% endblock %}
