{% extends 'portal/frame.html' %}

{% block content %}
    <div>
        <div class="search">
            <div class="instruction">Search:</div>
            <form action={% url 'search' %} method="get">
                {% csrf_token %}
                {{search_form.as_p}}
                <button type="submit" class="btn btn-primary">Let's search</button">
            </form>
        </div>
        <div class="post_creation">
            <div class="instruction">Add your opinion:</div>
            <form action={% url 'post_creation' %} method="post">
                {% csrf_token %}
                {{post_creation_form.as_p}}
                <button type="submit" class="btn btn-primary">Let us think</button">
            </form>
        </div>
    </div>
    <div class="posts">
        <div class="instruction">{{ posts_description }}:</div>
        {% block posts %} 
        {% endblock %}
    </div>
{% endblock %}
