{% extends 'portal/mainboard.html' %}
{% block posts %}
        {% for post, comments in posts_with_comments %}
            <div class="post">
                <div><b>Title: {{ post.title }}</b></div>
                <div>Body: {{post.body}}</div>
                <div>Author: {{post.author.email}}</div>
                <div>Creation date: {{post.creation_date}}</div>
                <div>It was: {{post.dd}}</div>
                <div class="comments">
                    <div class="instruction">Comments:</div>
                    {% for comment in comments %}
                        <div class="comment">
                            {% if comment.type == 'D' %}
                                <div style="color:red"> {{comment.body}}</div>
                            {% else %}
                                <div style="color:green"> {{comment.body}}</div>
                            {% endif %}
                            <div>By: {{comment.author.first_name}} {{comment.author.last_name}}</div>
                            {% if comment.type == 'D' %}
                                <div>{{comment.linkA}}</div>
                                <div>{{comment.linkB}}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <!-- <div class="instruction">If you agree:</div> -->
                    <div class="col-sm">
                        <form action={% url 'create_agree_comment' post.id  %} method="post">
                            {% csrf_token %}
                            {{comment_agree_creation_form.as_p}}
                            <button type="submit" class="btn btn-primary">Agree</button">
                        </form>
                    </div>
                    <!-- <div class="instruction">If you don't agree:</div> -->
                    <div class="col-sm">
                        <form action={% url 'create_disagree_comment' post.id  %} method="post">
                            {% csrf_token %}
                            {{comment_disagree_creation_form.as_p}}
                            <button type="submit" class="btn btn-primary">Don't agree</button">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
