{% extends 'portal/main.html' %}

{% block content %}
    <div class="posts">
        <div class="instruction">User posts " :</div>
        {% for post, comments in posts_with_comments %}
            <div class="post">
                <div><b>Title: {{ post.title }}</b></div>
                <div>Body: {{post.body}}</div>
                <div>Author: {{post.author.email}}</div>
                <div class="comments">
                    <div class="instruction">Comments:</div>
                    {% for comment in comments %}
                        <div class="comment">
                            <div> {{comment.body}}</div>
                            <div>By: {{comment.author.email}}</div>
                            <div>{{comment.link1}}</div>
                            <div>{{comment.link2}}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="comment_form">
                    <div class="instruction">If you agree:</div>
                    <span class="comment_form">
                        <form action={% url 'create_agree_comment' post.id  %} method="post">
                            {% csrf_token %}
                            {{comment_agree_creation_form.as_p}}
                            <input type="submit" value="Agree...?">
                        </form>
                    </span>
                    <div class="instruction">If you don't agree:</div>
                    <span class="comment_form">
                        <form action={% url 'create_disagree_comment' post.id  %} method="post">
                            {% csrf_token %}
                            {{comment_disagree_creation_form.as_p}}
                            <input type="submit" value="Not agree...?">
                        </form>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
