{% extends 'portal/frame.html' %}

{% block content %}
    <div class="instruction">
        Users from search " {{query}} " :
    </div>
    {% for user in users_from_search %}
        <div class="users">
            <div>{{user.first_name}} {{user.last_name}}
                <form action={% url 'get_user_posts' user.id  %} method="post">
                    {% csrf_token %}
                    <input type="submit" value="Get posts">
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
